[user]
	name = sshen
	email = sshen@fiberhome.com
[diff]
	tool = vimdiff
[difftool]
	prompt = No
[credential]
	helper = store
[push]
	default = simple
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[gui]
	encoding = utf-8
[core]
	autocrlf = false
